<div [ngClass]="{status_selected: active}">
  <div class="status status-{{referral.Status.substring(0,3)}}">
    <div class="row">
      <div class="status-text text-left col-md-3">{{referral.Status}}</div>
      <div class="col-md-9 text-right" *ngIf="!referral.Patient">No Patient associated</div>
      <div class="col-md-9 text-right" *ngIf="referral.Patient">
        <basic-patient [patientId]="referral.Patient" *ngIf="referral.Patient" class="status-text"></basic-patient>
      </div>
    </div>

    <div class="mh-card">
      <div class="col-md-12">{{convertReasonClassification(referral.Reason)}}</div>

      <div class="col-md-1">
        <button (click)="ngReceiveReferral(referral)">Receive</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <referral-eoce [referral]="referral"></referral-eoce>
        </div>
      </div>
      <div class="row"></div>
    </div>
  </div>
</div>
<modal #selectEpisodeOfCareElement (onClose)="doReceive(selectedEoceId)">
  <modal-header [show-close]="true">
    <h4 class="modal-title">Select Episode of Care Element</h4>
  </modal-header>
  <modal-body>
    <div>The patient already has some episodes of care elements. Please select one or create a new.</div>
    <episodeofcare-select ([selectedEoceId])="selectedEoceId" name="selectedEoceIdOut"></episodeofcare-select>
  </modal-body>
  <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>

