<div class="status status-{{referral.Status.substring(0,3)}}">
  <div class="status-text text-left">{{referral.Status}}</div>
  <div class="mh-card">
      <div class="col-md-12">{{convertReasonClassification(referral.Reason)}}</div>
      <div class="col-md-12" *ngIf="referral.Patient">
        <basic-patient [patientId]="referral.Patient"></basic-patient>
      </div>
    <div class="col-md-1">
      <button (click)="ngReceiveReferral(referral)">Receive</button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <referral-eoce [referral]="referral"></referral-eoce>
      </div>
    </div>
    <div class="row"></div>
  </div>
</div>
<modal #selectEpisodeOfCareElement (onClose)="doReceive(selectedEoceId)">
  <modal-header [show-close]="true">
    <h4 class="modal-title">Select Episode of Care Element</h4>
  </modal-header>
  <modal-body>
    <div>The patient already has some episodes of care elements. Please select one or create a new.</div>
    <episodeofcare-select ([selectedEoceId])="selectedEoceId" name="selectedEoceIdOut"></episodeofcare-select>
  </modal-body>
  <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>

