<div class="referralDetails">
  <mhcard [cardName]="referral.realPatient != null ? referral.realPatient.Name: ''" [cardStatus]="referral.Status"
          [active]="active">
    <div class="col-md-12">{{convertReasonClassification(referral.Reason)}}</div>
    <div class="col-md-1">
      <button (click)="receiveReferral()">Receive</button>
    </div>
  </mhcard>
</div>
<modal #selectEpisodeOfCareElement>
  <episodeofcare-select ([selectedEoceId])="selectedEoceId" name="selectedEoceIdOut" [patient]="referral.Patient" (onSelectedEpisodeOfCare)="doReceive($event)"></episodeofcare-select>
</modal>

