<div class="timeline">
  <div class="content-body-wrapper">
    <div class="content-body">
      <div class="timelineInfoCell">
        <div class="headerCell">Titel</div>
        <div *ngFor="let episodeOfCare of episodesOfCare"><span>Forløb:</span> <span *ngIf="episodeOfCare.realCondition">{{convertConditionCode(episodeOfCare.realCondition.Code)}}</span></div>
      </div>
      <div class="timelineCell" *ngFor="let unit of units">
        <div class="headerCell">{{unit | date: 'dd/MM-yyyy'}}</div>
        <div *ngFor="let episodeOfCare of episodesOfCare">
          <span [ngClass]="{eventClass: hasContent(unit, episodeOfCare), nonEventClass: !hasContent(unit, episodeOfCare)}"></span>
        </div>
      </div>
    </div>
  </div>
</div>
