.timeline {
  width: 4096px;
  padding-top: 8px;
}
.headerCell {
  background-color: #3b7d97;
  color: white;
  border: 1px solid white;
}

.content-body-wrapper {
  display: table;
  border-collapse: collapse;
}

.content-body {
  padding-top: 20px;
  display: table-row;
}

.timelineInfoCell {
  display: table-cell;
  width: 120px;
  padding:0;
  margin:0;
}

.timelineCell {
  display: table-cell;
  padding:0;
  margin:0;
  width: 80px;
}

.eventClass {
  background-color: #0a6cd6;
}

.nonEventClass {
  background-color: #cd0a0a;
}
