<div class="container">
  <div *ngFor="let referral of referrals;let index =index;
             let isOdd=odd;
             let isEven=even" class="row table-cell" [class.odd]="isOdd" [class.even]="isEven">
    <div class="col-md-11">
      <div class="row">
        <div class="col-md-12">{{referral.Type}}</div>
      </div>
      <div class="row">
        <div class="col-md-12">{{referral.ReferredAt | date: 'dd-MM-yyyy HH:mm'}}</div>
      </div>
      <div class="col-md-12">{{convertCauseClassification(referral.Cause)}}</div>
      <div class="col-md-12">{{convertFreeChoiceClassification(referral.OwnChoice)}}</div>
    </div>
    <div class="col-md-1">
      <button (click)="ngReceiveReferral(referral)">Receive</button>
    </div>
  </div>
</div>
