<div class="container">
  <div class="row">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          Søg
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/patients">Find patient (Standard)</a>
          <a class="dropdown-item" routerLink="/list-referrals">Find henvisning</a>
          <a class="dropdown-item" routerLink="/showEpisodeOfCareElement">Find patient forløb</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
      <ng2-completer [(ngModel)]="searchStr" [dataService]="dataService" [minSearchLength]="0" [autoMatch]="true"
                     (selected)="selectPatient($event)"></ng2-completer>
    </div>
  </div>
</div>
