<div class="container">
  <div *ngFor="let referral of filteredReferrals;let index =index;
             let isOdd=odd;
             let isEven=even" class="row table-cell mh-card" [class.odd]="isOdd" [class.even]="isEven"
       animation-player [delay]="50+index*50" [duration]="50" [animation]="'fadeIn'" [play]="true">
    <div class="col-md-11">
      <div class="row">
        <div class="col-md-12">{{referral.Status}}</div>
      </div>
      <div class="col-md-12">{{convertReasonClassification(referral.Reason)}}</div>
      <div class="col-md-12" *ngIf="referral.Patient">
        <basic-patient [patientId]="referral.Patient"></basic-patient>
      </div>
    </div>
    <div class="col-md-1">
      <button (click)="ngReceiveReferral(referral)">Receive</button>
    </div>
    <div class="row">
      <div class="col-md-12"><referral-eoce [referral]="referral"></referral-eoce></div>
    </div>
    <div class="row" [dialogAnchor]></div>

    <div class="open-button" (click)="openDialogBox()">Choose Episode of Care</div>
  </div>
</div>
<modal #selectEpisodeOfCareElement (onClose)="doReceive()">
  <modal-header [show-close]="true">
    <h4 class="modal-title">Select Episode of Care Element</h4>
  </modal-header>
  <modal-body>
    <div>The patient already has some episodes of care elements. Please select one or create a new.</div>
    <episodeofcare-select [(ngModel)]="selectedEoceId"></episodeofcare-select>
  </modal-body>
  <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>
