<div class="container container-fluid">
  <div class="status">
    <div class="row">
      <div class="status-text text-left col-md-6">{{episodeOfCareElement.Status}}</div>
      <div class="status-text text-right col-md-6">Patientforløb</div>
    </div>
    <div *ngIf="episodeOfCareElement" class="mh-card">
      <div class="row">
        <div class="col-md-2">{{convertUnit(episodeOfCareElement.ResponsibleUnit)}}</div>
        <div class="col-md-3">{{episodeOfCareElement.Period.StartTime | date: 'dd-MM-yyyy HH:mm'}}</div>
        <div class="col-md-3">{{episodeOfCareElement.Period.EndTime | date: 'dd-MM-yyyy HH:mm'}}</div>
      </div>
    </div>
  </div>
</div>
