/* You can add global styles to this file, and also import other style files */
html * {
  font-size: small;
}

.mh-card {
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.75);
  background: white;
  transition: all 0.1s ease-in-out;
}

.mh-card:hover {
  transform: scale(1.02);
  filter: brightness(95%);
}

.status {
  padding: 8px 8px 8px 8px;
  border-radius: 2px;
  border: 1px solid lightgray;
}

.status-text {
  margin: 0 0 0 8px;
  margin: 0;
  font-size: .7em;
}

.status_selected {
  background: #e6f5ce;
}

